body {
  background-color: rgb(253, 255, 249);
  min-height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-fluid {
  min-height: 100vh;
}

.form-container {
  background-color: #f8f9fa; /* Color de fondo claro */
  border: 1px solid #6c757d; /* Borde gris oscuro */
  border-radius: 0.75rem; /* Bordes redondeados */
  padding: 2rem; /* Padding alrededor del formulario */
  max-width: 800px; /* Ancho máximo del contenedor */
}
